.cart-header{
    padding-bottom: 30px;
}
.cart-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 40px;
    margin-left: 70px;
}
.cart-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.cart-activity{
    padding-top: 20px;
    position: sticky;
    top: 0;
}